<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Login</h1>
                    <h5>Fill free to login</h5>
                    <hr>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1">Email address</label>
                        <input formControlName="email" placeholder="Enter Correct Email" type="email"
                            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Email Id is rqquired</span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1">Password</label>
                        <input formControlName="password" placeholder="Enter Correct Password " type="password"
                            class="form-control" id="exampleInputPassword1">
                        <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Password is rqquired</span>
                    </div>
                    <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
                </form>
                <a class="mt-2" routerLink="/signup">New User? Click to Signup !</a>
            </div>
        </div>
    </div>
</div>